@*Phần Home*@

<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Products" asp-action="Index">Laptops</a></li>
                <li><a asp-controller="Products" asp-action="SmartPhone">Điện thoại</a></li>
                <li><a asp-controller="Products" asp-action="PhuKien">Phụ kiện</a></li>
                <li><a asp-controller="Products" asp-action="DiaGame">Đĩa game</a></li>
                <li><a asp-controller="Products" asp-action="Sales">Khuyến mãi</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>