<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/_AdminAssets/images/logo/favicon.png">

    <!-- page css -->

    <!-- Core css -->
    <link href="~/_AdminAssets/css/app.min.css" rel="stylesheet">

</head>

<body>
  @RenderBody()
    <!-- Core Vendors JS -->
    <script src="~/_AdminAssets/js/vendors.min.js"></script>

    <!-- page js -->

    <!-- Core JS -->
    <script src="~/_AdminAssets/js/app.min.js"></script>

</body>

</html>