@model EShop.Models.Customer
@{ ViewData["Title"] = "Tạo mới";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
 }

<div style="margin-top:10%;margin-left:10%;">
    <h1>Tạo mới khách hàng</h1>

    <h4>Khách hàng</h4>
    <hr />
    <div class="row">
        <div class="col-md-9" style="background: #cce6e7">
            <form asp-controller="AdminCustomers" asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Username" class="control-label">Tên tài khoản</label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Password" class="control-label">Mật khẩu</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDay" class="control-label"></label>
                    <input asp-for="BirthDay" class="form-control" />
                    <span asp-validation-for="BirthDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Avatar" class="control-label"></label>
                    <input type="file" name="fAvatar" asp-for="Avatar" class="form-control-file" />
                    <span asp-validation-for="Avatar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mail" class="control-label"></label>
                    <input asp-for="Mail" class="form-control" />
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Province" class="control-label">Thành phố</label>
                    <div class="col-md-10">
                        <select class="form-control" id="Province" name="Province" onchange="changeFunction();">
                            <option value="" selected></option>
                        </select>
                        <input class="billing_address_1" name="Province" type="hidden" value="">
                        <span asp-validation-for="Province" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="District" class="control-label"></label>
                    <div class="col-md-10">
                        <select class="form-control" id="District" name="District" onchange="districtChangeFunction();">
                            <option value="" selected>Quận Huyện</option>
                        </select>
                        <input class="billing_address_2" name="District" type="hidden" value="">
                        <span asp-validation-for="District" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Ward" class="control-label"></label>
                    <div class="col-md-10">
                        <select class="form-control" id="Ward" name="Ward" aria-placeholder="Quận Huyện">
                            <option value="" selected>Phường xã</option>
                        </select>
                        <span asp-validation-for="Ward" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group d-flex align-items-center">
                    <div class="switch m-r-10">
                        <input type="checkbox" asp-for="IsActived" checked="" />
                        <label for="IsActived"></label>
                    </div>
                    <label>Actived</label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" style="margin-right:10px;" />
                    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var province = document.getElementById("Province");
            window.onload = function () {
                $.ajax({
                    url: "https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/province",
                    headers: {
                        "token": "ec9c3a6c-46a9-11ec-ac64-422c37c6de1b",
                    },
                    type: "GET",
                    dataType: 'json',
                    success: function (response) {
                        console.log('success: ' + response.code);
                        var str = "<option selected>Tỉnh thành</option> ";
                        for (var i = 0; i < response.data.length; i++) {
                            console.log(response.data[i].ProvinceName);
                            str = str + "<option class='provinceId' data-province='" + response.data[i].ProvinceID + "'>" + response.data[i].ProvinceName + "</option>";
                        }
                        province.innerHTML = str;
                    }
                });
            };
        })
        function changeFunction() {
            var selectBox = document.getElementById("Province");
            var selectedValue = selectBox.options[selectBox.selectedIndex].getAttribute('data-province');
            var district = document.getElementById("District");
            $.ajax({
                url: "https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/district",
                headers: {
                    'token': 'ec9c3a6c-46a9-11ec-ac64-422c37c6de1b',
                    'Content-type': 'application/json'
                },
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    var str = "<option selected>Quận Huyện</option>";
                    for (var i = 0; i < response.data.length; i++) {
                        if (response.data[i].ProvinceID == selectedValue) {
                            str = str + "<option class='districtId' data-district='" + response.data[i].DistrictID + "'>" + response.data[i].DistrictName + "</option>";
                        }
                    }
                    district.innerHTML = str;
                }
            });
        };
        function districtChangeFunction() {
            var selectBox = document.getElementById("District");
            var selectedValue = selectBox.options[selectBox.selectedIndex].getAttribute('data-district');
            var guild = document.getElementById("Ward");
            $.ajax({
                url: "https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/ward?district_id=" + selectedValue,
                headers: {
                    'token': 'ec9c3a6c-46a9-11ec-ac64-422c37c6de1b',
                    'Content-type': 'application/json'
                },
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    var str = "<option selected>Phường xã</option>";
                    console.log(response.data.length);
                    for (var i = 0; i < response.data.length; i++) {
                        console.log(response.data[i].WardName);
                        str = str + "<option class='guildId' data-guild='" + response.data[i].WardCode + "'>" + response.data[i].WardName + "</option>";
                    }
                    console.log(str);
                    guild.innerHTML = str;
                }
            });
        }
    </script>
}