@model EShop.Models.Role

@{
    ViewData["Title"] = "Tạo mới quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div style="margin-left:10% ;margin-top:10%">
    <h1>Tạo mới</h1>

    <h4>Quyền</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoleName" class="control-label"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descriptions" class="control-label"></label>
                    <input asp-for="Descriptions" class="form-control" />
                    <span asp-validation-for="Descriptions" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Tạo mới" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Trở về</a>
    </div>

</div>
