
@{
    ViewData["Title"] = "Thanh toán lỗi";
    Layout = "~/Views/Layout/_Layout.cshtml";
}
<div class="container">
    <div class="align-content-center justify-content-lg-center" style="text-align:center;">
        <h1 style="color: orangered;">Thanh toán lỗi</h1>
    </div>
</div>

